<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Assignment 2*

# Document Representations: Bag-Of-Words

In [1]:
import re
import string

#!pip install -U nltk

import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import sent_tokenize # Sentence Tokenizer
from nltk.tokenize import word_tokenize # Word Tokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.probability import FreqDist

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/87/16/4d247e27c55a7b6412e7c4c86f2500ae61afcbf5932b9e3491f8462f8d9e/nltk-3.4.4.zip (1.5MB)
Requirement already satisfied, skipping upgrade: six in c:\users\dustin\anaconda3\lib\site-packages (from nltk) (1.12.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py): started
  Building wheel for nltk (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Dustin\AppData\Local\pip\Cache\wheels\41\c8\31\48ace4468e236e0e8435f30d33e43df48594e4d53e367cf061
Successfully built nltk
Installing collected packages: nltk
  Found existing installation: nltk 3.4
    Uninstalling nltk-3.4:
      Successfully uninstalled nltk-3.4
Successfully installed nltk-3.4.4

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dustin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dustin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

# 1) (optional) Scrape 100 Job Listings that contain the title "Data Scientist" from indeed.com

At a minimum your final dataframe of job listings should contain
- Job Title
- Job Description

If you choose to not to scrape the data, there is a CSV with outdated data in the directory. Remeber, if you scrape Indeed, you're helping yourself find a job. ;)

In [103]:
##### Your Code Here #####
job = 'job_listings.csv'
df = pd.read_csv(job)
df.head()
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

## 2) Use Spacy to tokenize / clean the listings

In [104]:
##### Your Code Here #####
import spacy

nlp = spacy.load('en_core_web_lg')
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

In [105]:
import re

def cleanhtml(html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', html)
    return cleantext

In [106]:
df['description'] = df['description'].apply(cleanhtml)

# =====Clean and iterable words - NOT NECESSARY=====

In [75]:
def clean(text):
    lemmas = []
    doc = nlp(text)
    for token in doc:
        if (token.is_stop == False) and (token.is_punct == False) and (token.pos_ != 'PRON'):
            lemmas.append(token.lemma_)
    return lemmas

In [78]:
df['tokens'] = df['tokens'].apply(clean)

In [79]:
df['tokens']

0    [b"Job, Requirements:\nConceptual, understand,...
1    [b'job, description\n\na, Data, Scientist, 1, ...
2    [b'as, Data, scientist, work, consult, busines...
3    [b'$4,969, $, 6,756, monthcontractunder, gener...
4    [b'location, USA, \xe2\x80\x93, multiple, loca...
Name: tokens, dtype: object

In [33]:
test = ['b"Job',
 'Requirements:\\nConceptual',
 'understand',
 'Machine',
 'Learning',
 'model',
 'like',
 'Nai\\xc2\\xa8ve',
 'Bayes',
 'K',
 'Means',
 'SVM',
 'Apriori',
 'Linear/',
 'Logistic',
 'Regression',
 'Neural',
 'Random',
 'Forests',
 'Decision',
 'Trees',
 'K',
 'NN',
 'hand',
 'experience',
 '2',
 'them\\nintermediate',
 'expert',
 'level',
 'coding',
 'skill',
 'Python',
 'R.',
 'ability',
 'write',
 'function',
 'clean',
 'efficient',
 'datum',
 'manipulation',
 'mandatory',
 'role)\\nexposure',
 'package',
 'like',
 'NumPy',
 'SciPy',
 'Pandas',
 'Matplotlib',
 'etc',
 'Python',
 'GGPlot2',
 'dplyr',
 'tidyR',
 'r\\nability',
 'communicate',
 'Model',
 'finding',
 'Technical',
 'Non',
 'technical',
 'stake',
 'holders\\nhand',
 'experience',
 'SQL',
 'Hive',
 'similar',
 'programming',
 'language\\nMust',
 'past',
 'work',
 'GitHub',
 'Kaggle',
 'publish',
 'article\\nMaster',
 'degree',
 'Statistics',
 'Mathematics',
 'Computer',
 'Science',
 'quant',
 'specific',
 'field.\\napply']

In [93]:
def clean_new_line(text):
    j = []
    for i in text:
        if 'b"' in i:
            i = i.replace('b"', '')
        elif "b'" in i:
            i = i.replace("b'", '')
        if '\\n' in i:
            i = i.replace('\\n', ' ')
            j.append(i)
        else:
            j.append(i)
    return j

In [96]:
df['tokens'] = df['tokens'].apply(clean_new_line)

In [97]:
df.head()

,Unnamed: 0,description,title,tokens
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,"[Job, Requirements: Conceptual, understand, Ma..."
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I,"[job, description a, Data, Scientist, 1, help..."
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,"[as, Data, scientist, work, consult, business,..."
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"[$4,969, $, 6,756, monthcontractunder, general..."
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist,"[location, USA, \xe2\x80\x93, multiple, locati..."

# =======================================

# 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [113]:
##### Your Code Here #####
from sklearn.feature_extraction.text import CountVectorizer

data = df['description']

# Instantiate
vectorizer = CountVectorizer(stop_words='english')

# Fit the data
vectorizer.fit(data)

# Create a Vocab - All posible words we might use
vectorizer.vocabulary_

# Transform the data
dtm = vectorizer.transform(data)

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

# 4) Visualize the most common word counts

In [114]:
##### Your Code Here #####
# Get the words counts 
dtm = pd.DataFrame(dtm.todense(), columns= vectorizer.get_feature_names())
print(dtm.shape)
dtm.head()
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

(426, 9818)

,00,000,02115,03,0356,04,062,06366,08,10,...,zenreach,zero,zeus,zf,zheng,zillow,zones,zoom,zuckerberg,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
# dtm.columns[0]

'00'

In [133]:
# for i in range(len(dtm.columns)):
#     dtm.columns[i], dtm.iloc[:,i].sum()

 # 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [137]:
##### Your Code Here #####
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)

# Fit & Transform and get word count
dtm = tfidf.fit_transform(data)

# Look at the dataframe
docs = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())
docs.head()
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

,000,04,10,100,1079302,11,12,125,14,15,...,yes,yeti,york,young,yrs,zenreach,zero,zeus,zf,zillow
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 # 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [141]:
##### Your Code Here #####
from sklearn.neighbors import NearestNeighbors
nn = NearestNeighbors(n_neighbors=5, algorithm='ball_tree')

# Fit on TF-IDF Vectors
nn.fit(dtm.todense())

# Query Using knn
nn.kneighbors(dtm.todense())

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

(array([[0.        , 1.28186048, 1.29243201, 1.29554001, 1.3029865 ],
        [0.        , 1.25217139, 1.25498183, 1.25677297, 1.2570676 ],
        [0.        , 1.23682516, 1.25514087, 1.25777374, 1.2608867 ],
        ...,
        [0.        , 0.        , 1.30016532, 1.30535051, 1.30917534],
        [0.        , 0.06717463, 1.20003281, 1.2309191 , 1.2318678 ],
        [0.        , 1.22198102, 1.23991606, 1.24863321, 1.25223614]]),
 array([[  0, 336, 276, 274, 366],
        [  1, 225, 399,  59, 201],
        [  2, 307, 357, 318, 407],
        ...,
        [423,  44,  16, 363,  20],
        [424, 382, 201, 366, 264],
        [425, 201, 264, 307, 383]], dtype=int64))

In [144]:
def compare(data, x, y):
    print(data[x],'\n')
    print(data[y])

In [147]:
compare(data, 274, 276)

b'General Description:\nAssist researchers and software developers on projects bridging the gap between research and analytics by providing data-driven solutions across several policy areas.\nWork with research and analytics staff in development of streamlined protocols through gathering requirements.\nAssist team with schema, business rules and configuration testing processes.\nSupport development efforts with standardized protocols to manipulate information captured in a fixed format to usable data, using non-traditional data sources like scraping data from social media, mining data from natural language texts, as well as vectorizing images to create analytical dataset to inform policy decisions.\nAssist development teams drafting and compiling requirements for complex statistical models, machine learning algorithms and deep learning networks.\nAssist Data Scientists in developing data products that contain dynamic data visualizations to present findings, data explorers that allow users to explore and analyze the data themselves, as well as publish data.\nPerform functional testing of data products\nMaintain data product documentation.\n\nWork experience and job skills requirements:\nKnowledge of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, and Decision Forests\nFamiliarity with data management and machine learning toolkits, such as tidyverse and dyplr in R and pandas and scikit learn in Python\nExperience using data visualization tools PlotLy and Tableau\nExperience working with query languages such as SQL.\nKnowledge of statistics and research methods and regression models.\nExperience developing technical documentation for datasets, code, and data products.\nExcellent verbal and written communication skills.\n\nEducation Requirements:\nBA/BS in Applied Mathematics, Applied Statistics, Operations Research, Economics, Business Analytics or a related field'

b"Facebook's mission is to give people the power to build community and bring the world closer together. Through our family of apps and services, we're building a different kind of company that connects billions of people around the world, gives them ways to share what matters most to them, and helps bring people closer together. Whether we're creating new products or helping a small business expand its reach, people at Facebook are builders at heart. Our global teams are constantly iterating, solving problems, and working together to empower people around the world to build community and connect in meaningful ways. Together, we can help people build stronger communities \xe2\x80\x94 we're just getting started.\nThe Infrastructure Strategy group is responsible for the strategic analysis to support and enable the continued growth critical to Facebook\xe2\x80\x99s infrastructure organization. The ideal candidate will be passionate about Facebook, have strong analytical and modeling aptitude and has experience using data to drive cost effective decision making.\n\nRESPONSIBILITIES\nLeverage data and business principles to solve large-scale web, mobile and data infrastructure problems.\nWork cross-functionally to define problem statements, collect data, build analytical models and make recommendations.\nBuild and maintain data driven optimization models, experiments, forecasting algorithms, and machine learning models.\nLeverage tools like Python, R, Hadoop &amp; SQL to drive efficient analytics.\nCommunicate final recommendations and drive decision making.\nMINIMUM QUALIFICATIONS\nDegree in quantitative field (e.g. Computer Science, Engineering, Mathematics, Statistics, Operations Research or other related field)\n2+ years of industry or graduate research experience solving analytical problems and building models using quantitative, statistical or machine learning approaches\nExperience with Machine Learning, Statistics, or other data analysis tools and techniques\nExperience performing data extraction, cleaning, analysis and presentation for medium to large datasets\nExperience with at least one programming language (i.e. Python, R, Java, or C++)\nExperience writing SQL queries\nExperience with scientific computing and analysis packages such as NumPy, SciPy, Pandas, Scikit-learn, dplyr, or ggplot2\nExperience with statistics methods such as forecasting, time series, hypothesis testing, classification, clustering or regression analysis\nExperience with data visualization libraries such as Matplotlib, Pyplot, ggplot2\nExperience with machine learning libraries and packages such as PyTorch, Caffe2, TensorFlow, Keras or Theano\nPREFERRED QUALIFICATIONS\nAdvanced degree (Master\xe2\x80\x99s or PhD) in quantitative field\nExperience working with distributed computing tools (Hadoop, Hive, Spark, etc.)\nProficiency in algorithmic complexity"

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.